<h1 id="title">
    <div class="header-content">
        <span id="titlu">Vineelz - Get your favorite records now!</span>
        <span class="material-symbols-outlined" id="cart">shopping_cart</span>
        <span class="material-symbols-outlined" id="account">account_circle</span>
        <span class="material-symbols-outlined" id="favorite">favorite</span>
    </div>
    <form>
        <div class="search">
            <span class="material-symbols-outlined" id="search">search</span>
            <input class="search-input" type="text" id="searchInput" onkeyup="filterAlbums()" placeholder="Your favorite records...">
        </div>
    </form>
</h1>

<nav class="menu">
    <ul id="menu_list"> 
        <li> <a href="/main" id="Home"> Home </a> </li>
        <li> <a href="" class="Genres"> Genres </a> 
        <div class="GenresList"> 
            <a href="/rock"> Rock/Indie </a>
            <a href="/hiphop1"> Hip-Hop </a>
            <a href="/jazz"> Pop </a>
            <a href="/electronic"> Electronic </a>
            <a href="/reggae"> Reggae </a>
            <a href="/soundtracks"> Soundtracks </a>
            <a href="/underground"> Underground </a> 
        </div>
        </li>
        <li> <a href="#footer" id="AboutUs"> About Us </a> </li>
        <li> <a href="#footer" id="Contact"> Contact </a> </li>
    </ul>
</nav>