html {
    scroll-behavior: smooth;
}

@keyframes animatie {
    0%    {background-color: rgb(108, 4, 150);} 
    2.5%  {background-color: rgb(113, 7, 156);} 
    5%    {background-color: rgb(118, 11, 163);} 
    10%   {background-color: rgb(124, 15, 169);} 
    15%   {background-color: rgb(129, 19, 175);} 
    20%   {background-color: rgb(135, 23, 181);} 
    25%   {background-color: rgb(140, 27, 187);} 
    30%   {background-color: rgb(146, 32, 193);} 
    35%   {background-color: rgb(151, 36, 199);} 
    40%   {background-color: rgb(157, 40, 205);} 
    45%   {background-color: rgb(162, 44, 211);} 
    50%   {background-color: rgb(168, 48, 217);} 
    55%   {background-color: rgb(162, 44, 211);} 
    60%   {background-color: rgb(157, 40, 205);} 
    65%   {background-color: rgb(151, 36, 199);} 
    70%   {background-color: rgb(146, 32, 193);} 
    75%   {background-color: rgb(140, 27, 187);} 
    80%   {background-color: rgb(135, 23, 181);} 
    85%   {background-color: rgb(129, 19, 175);} 
    90%   {background-color: rgb(124, 15, 169);} 
    95%   {background-color: rgb(118, 11, 163);} 
    100%  {background-color: rgb(108, 4, 150);} 
}  

#title {
    color: white;
    font-family: 'Courier New', monospace;
    text-align: center;
    text-shadow: 3px 3px 5px white;
}

#header_site {
    background-color: rgb(108, 4, 150);
    width: 100%;
    height: 100%;
    padding: 0;
    float: right;
    animation-name: animatie;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

.search {
    width: max-content;
    display: flex;
    align-items: center;
    padding: 14px;
    margin-left: 40%;
    margin-top: 1rem;
    border-radius: 20px;
    background-color: #f6f6f6;
}

#search {
    color: black;
}

#cart, #account, #favorite {
    color: white;
}

#cart{
    position: relative;
}

#cartDropdown {
    position: absolute;
    top: 30px; /* Ajustează această valoare pentru a poziționa dropdown-ul sub buton */
    right: 0; /* Ajustează această valoare pentru a alinia dropdown-ul la dreapta butonului */
    background-color: grey;
    width: 1500px;
    box-shadow: 0px 8px 16px 0px rgba(109, 34, 34, 0.2);
    display: none; /* Ascuns implicit */
    padding: 10px;
    border-radius: 5px;
}

#cartDropdown ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#cartDropdown li {
    padding: 8px 12px;
    text-decoration: none;
    display: block;
    border-bottom: 1px solid #000000;
}

#cartDropdown li:last-child {
    border-bottom: none;
}


body {
    margin: 0px;
    font-family: 'Arial', sans-serif;
}

#TopSales {
    text-align: center;
}

.menu ul {
    list-style-type: none;
    background-color: rgb(187, 186, 165);
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

.menu a {
    color: black;
    text-decoration: none;
    padding: 30px;
    display: block;
    text-align: center;
    display: inline-block;
}

.menu a:hover {
    background-color: rgb(108, 4, 150);
    color: white; /* Text color for the hovered link */
}

.menu li {
    float: left;
    display: inline;
    margin-left: 9%;
    margin-right: 9%;
}

.GenresList {
    display: none;
    background-color: rgb(108, 4, 150);
    position: absolute;
    min-width: 100px;
    box-shadow: 2px 2px 5px black;
}

.GenresList a {
    display: block;
    box-shadow: 2px 2px 5px black;
    color: black; 
}

.GenresList a:hover {
    color: white; 
}


.menu li:hover > a,
.menu li:hover > .GenresList {
    background-color: rgb(108, 4, 150);
    color: white; 
}

#menu_list .Genres:hover + .GenresList,
#menu_list .GenresList:hover {
    display: block;
    background-color: rgb(187, 186, 165);
}

.Album {
    display: inline-block;
    border: 1px solid white;
    margin: 30px auto;
    width: 300px;
}

.AlbumInfo:hover {
    border: 1px solid white;
    background-color: rgb(108, 4, 150);
    color: white;
}

.Album .AlbumInfo {
    text-align: center;
}

.AlbumInfo {
    margin-top: 10px; 
}

.Albums {
    text-align: center;
}

.pagination a {
    color: black;
    text-decoration: none;
    padding: 8px 15px;
    display: inline-block;
} 

.pagination a.active {
    background-color: rgb(140, 12, 190);
    font-weight: bold;
    border-radius: 10px;
}

.pagination a:hover:not(.active) {
    background-color: rgb(110, 110, 110);
    border-radius: 10px;
}

.pagination {
    text-align: center;
}

.Album .back {
    display: none; 
}

.Album:hover .front {
    display: none; 
}

.Album:hover .back {
    display: block; 
}

.footer {
    background-color: #8740be;
    color: white;
    padding: 0;
    animation-name: animatie;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

.footer a {
    color: white;
    padding: 0;
}

.search-input {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    color: #333333;
    margin-left: 14px;
    outline: none;
    border: none;
    background: transparent;
    width: 300px;
}

.payment {
    display: flex;
    align-items: center;
}

.payment a {
    margin-right: 10px;
}
