<!DOCTYPE html>
<html lang="ro">
<head>
    <%-include("../partials/head.ejs")%>
</head>
<body>
    <div id="header_site">
        <%-include("../partials/header.ejs")%>
    </div>
    <br>

<main>
    <div id="errorinfo">
    <h2> Error 404</h2>
    <p> Page not found</p>
    </div>
</main>
