<!DOCTYPE html>
<html lang="ro">
<head>
    <%-include("../partials/head.ejs")%>
</head>
<body>
    <div id="header_site">
        <%-include("../partials/header.ejs")%>
    </div>
    <br>

    <div id="TopSales">
        <h1> --------------------HIP HOP-------------------- </h1>
    </div>

    <div id="albumContainer" class="Albums">
        <div class="Album">
            <img class="front" src="images/NouAlbum1.webp" alt="NouAlbum1" width="300">
            <img class="back" src="images/NouAlbum2.webp" alt="NouAlbum2" width="300">
            <div class="AlbumInfo"> Artist - Nume Album (LP) 
                <br>
                <p> 199.99 <del> 249.99 </del> RON </p>
            </div>
        </div>

        <div class="Album">
            <img class="front" src="images/NouAlbum1.webp" alt="NouAlbum1" width="300">
            <img class="back" src="images/NouAlbum2.webp" alt="NouAlbum2" width="300">
            <div class="AlbumInfo"> Artist - Nume Album (LP) 
                <br>
                <p> 199.99 <del> 249.99 </del> RON </p>
            </div>
        </div>

        <div class="Album">
            <img class="front" src="images/NouAlbum1.webp" alt="NouAlbum1" width="300">
            <img class="back" src="images/NouAlbum2.webp" alt="NouAlbum2" width="300">
            <div class="AlbumInfo"> Artist - Nume Album (LP) 
                <br>
                <p> 199.99 <del> 249.99 </del> RON </p>
            </div>
        </div>

        <div class="Album">
            <img class="front" src="images/NouAlbum1.webp" alt="NouAlbum1" width="300">
            <img class="back" src="images/NouAlbum2.webp" alt="NouAlbum2" width="300">
            <div class="AlbumInfo"> Artist - Nume Album (LP) 
                <br>
                <p> 199.99 <del> 249.99 </del> RON </p>
            </div>
        </div>

        <div class="Album">
            <img class="front" src="images/NouAlbum1.webp" alt="NouAlbum1" width="300">
            <img class="back" src="images/NouAlbum2.webp" alt="NouAlbum2" width="300">
            <div class="AlbumInfo"> Artist - Nume Album (LP) 
                <br>
                <p> 199.99 <del> 249.99 </del> RON </p>
            </div>
        </div>

        <div class="Album">
            <img class="front" src="images/NouAlbum1.webp" alt="NouAlbum1" width="300">
            <img class="back" src="images/NouAlbum2.webp" alt="NouAlbum2" width="300">
            <div class="AlbumInfo"> Artist - Nume Album (LP) 
                <br>
                <p> 199.99 <del> 249.99 </del> RON </p>
            </div>
        </div>

        <div class="Album">
            <img class="front" src="images/NouAlbum1.webp" alt="NouAlbum1" width="300">
            <img class="back" src="images/NouAlbum2.webp" alt="NouAlbum2" width="300">
            <div class="AlbumInfo"> Artist - Nume Album (LP) 
                <br>
                <p> 199.99 <del> 249.99 </del> RON </p>
            </div>
        </div>

        <div class="Album">
            <img class="front" src="images/NouAlbum1.webp" alt="NouAlbum1" width="300">
            <img class="back" src="images/NouAlbum2.webp" alt="NouAlbum2" width="300">
            <div class="AlbumInfo"> Artist - Nume Album (LP) 
                <br>
                <p> 199.99 <del> 249.99 </del> RON </p>
            </div>
        </div>

        <div class="Album">
            <img class="front" src="images/NouAlbum1.webp" alt="NouAlbum1" width="300">
            <img class="back" src="images/NouAlbum2.webp" alt="NouAlbum2" width="300">
            <div class="AlbumInfo"> Artist - Nume Album (LP) 
                <br>
                <p> 199.99 <del> 249.99 </del> RON </p>
            </div>
        </div>

        <div class="Album">
            <img class="front" src="images/NouAlbum1.webp" alt="NouAlbum1" width="300">
            <img class="back" src="images/NouAlbum2.webp" alt="NouAlbum2" width="300">
            <div class="AlbumInfo"> Artist - Nume Album (LP) 
                <br>
                <p> 199.99 <del> 249.99 </del> RON </p>
            </div>
        </div>

        <div class="Album">
            <img class="front" src="images/NouAlbum1.webp" alt="NouAlbum1" width="300">
            <img class="back" src="images/NouAlbum2.webp" alt="NouAlbum2" width="300">
            <div class="AlbumInfo"> Artist - Nume Album (LP) 
                <br>
                <p> 199.99 <del> 249.99 </del> RON </p>
            </div>
        </div>

        <div class="Album">
            <img class="front" src="images/NouAlbum1.webp" alt="NouAlbum1" width="300">
            <img class="back" src="images/NouAlbum2.webp" alt="NouAlbum2" width="300">
            <div class="AlbumInfo"> Artist - Nume Album (LP) 
                <br>
                <p> 199.99 <del> 249.99 </del> RON </p>
            </div>
        </div>
        <!-- Repetă structura pentru alte albume -->
    </div>

    <div class="pagination">
        <a href="/hiphop1"> < </a>
        <a href="/hiphop1"> 1 </a>
        <a href="/hiphop2" class="active"> 2 </a>
        <a href="/hiphop3"> 3 </a>
        <a href="/hiphop3"> > </a>
    </div>

    <footer id= "footer" class="footer">
        <!-- Conținutul footer-ului rămâne neschimbat -->
    </footer>
  
    <script src="scripts.js"></script>
    
    </body>
</html>