<!DOCTYPE html>
<html lang="ro">
<head>
    <%-include("../partials/head.ejs")%>
</head>
<body>
    <div id="header_site">
        <%-include("../partials/header.ejs")%>
    </div>
    <br>

    <div id="TopSales">
    <h1> --------------------TOP SALES-------------------- </h1>
    </div>

    <div id="albumContainer" class="Albums">
    <div class="Album">
        <img class="front" src="/resources/images/Rainbows1.webp" alt="Rainbows1" width="300">
        <img class="back" src="/resources/images/Rainbows2.webp" alt="Rainbows2" width="300">
        <div class="AlbumInfo" > Radiohead - In Rainbows (LP) 
        </div>
            <br> 
            <p> 189.99 <del> 229.99 </del> RON </p>
        <button class="addToCartBtn">Adaugă în Coș</button>
    </div>

    <div class="Album">
        <img class="front" src="/resources/images/Plugs1.webp" alt="Plugs1" width="300"> </a>
        <img class="back" src="/resources/images/Plugs2.webp" alt="Plugs2" width="300"> </a>
        <div class="AlbumInfo"> Benny The Butcher & Harry Fraud - The Plugs I Met 2 (Griselda) (LP)
        </div>
            <br> 
            <p> 89.99 RON </p>
        <button class="addToCartBtn">Adaugă în Coș</button>
    </div>

    <div class="Album">
        <img class="front" src="/resources/images/Melodic1.webp" alt="Melodic1" width="300">
        <img class="back" src="/resources/images/Melodic2.webp" alt="Melodic2" width="300">
        <div class="AlbumInfo"> Baby Keem - The Melodic Blue (LP) 
        </div>
            <br>
            <p> 129.99 RON </p>
        <button class="addToCartBtn">Adaugă în Coș</button>
    </div>

    <br>

    <div class="Album">
        <img class="front" src="/resources/images/Morale1.webp" alt="Morale1" width="300">
        <img class="back" src="/resources/images/Morale2.webp" alt="Morale2" width="300">
        <div class="AlbumInfo"> Kendrick Lamar - Mr. Morale & The Big Steppers (LP) 
        </div>
            <br>
            <p> 199.99 <del> 249.99 </del> RON </p>
        <button class="addToCartBtn">Adaugă în Coș</button>
    </div>

    <div class="Album">
        <img class="front" src="/resources/images/SRS1.webp" alt="SRS1" width="300">
        <img class="back" src="/resources/images/SRS2.webp" alt="SRS2" width="300">
        <div class="AlbumInfo"> Earl Sweatshirt - Some Rap Songs (LP) 
        </div>
            <br>
            <p> 109.99 RON </p>
        <button class="addToCartBtn">Adaugă în Coș</button>
    </div>
    </div>

    <div class="pagination">
        <a href="/page2"> < </a>
        <a href="/main"> 1 </a>
        <a href="/page2"> 2 </a>
        <a href="/page3" class="active"> 3 </a>
        <a href="/main"> > </a>
    </div>
    
    <footer id="footer" class="footer">
        <%-include("../partials/footer.ejs")%>
    </footer>


    </body>

</html>